<h2>Eventos</h2>
<hr>

<div action="" class="form-inline">
  <div class="input-group mb-2 w-50 p-2">
    <input
      type="text"
      class="form-control p-2"
      placeholder="Buscar Evento"
      [(ngModel)]="filtroDeEventos">
  </div>
</div>
<!-- <h3>Evento: {{filtroDeEventos}}</h3> -->
<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>
        <button
          type="button"
          class="btn btn-outline-light"
          (click)="toggleImage()">
          {{showImage ? 'Ocultar Imagens' : 'Exibir Imagens'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length > 0">
    <tr *ngFor="let evento of eventosFiltrados">
      <td class="fixed-img-cell">
        <img [collapse]="!showImage" [isAnimated]="true"
             src="{{evento.imagemURL}}"
             [style.width.px]="145"
             [style.display]="'block'"
             [style.margin]="'0 auto'"
             [style.border-radius.px]="5"
             >
      </td>
      <td class="align-middle">{{ evento.eventoId }}</td>
      <td class="align-middle">{{evento.tema}}</td>
      <td class="align-middle">{{evento.local}}</td>
      <td class="align-middle">{{evento.dataEvento}}</td>
      <td class="align-middle">{{evento.qtdPessoas}}</td>
      <td class="align-middle">{{evento.lote}}</td>
      <td class="align-middle text-center">
        <div class="d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-primary btn-sm m-1">Editar</button>
          <button type="button" class="btn btn-danger btn-sm m-1">Excluir</button>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
