<div class="row mt-5 justify-content-center">

  <!-- Imagem - Exibida apenas em telas grandes -->
  <div class="col-md-6 d-none d-lg-block" style="height: 450px;">
    <div class="text-center">
      <h1>Cadastro de Usuário</h1>
      <img src="/registerImage.png" class="my-4" alt="Imagem Cadastro" width="400px">
    </div>
  </div>

  <!-- Formulário -->
  <div class="col-12 col-md-8 col-lg-6">
    <div class="card rounded shadow-sm">
      <form class="p-3">

        <!-- Título do Form - Apenas em telas pequenas -->
        <div class="pb-2 d-block d-lg-none text-center">
          <h3 class="border-bottom">Cadastro de Usuário</h3>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Primeiro Nome</label>
            <input type="text" class="form-control" placeholder="Insira o Primeiro nome" />
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Último Nome</label>
            <input type="text" class="form-control" placeholder="Insira o Último nome" />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input class="form-control" type="email" placeholder="Insira o Nome Completo" />
        </div>

        <div class="mb-3">
          <label class="form-label">Usuário</label>
          <input class="form-control" type="text" placeholder="Insira o nome de Usuário" />
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Senha</label>
            <input class="form-control" type="password" placeholder="Digite uma Senha" />
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Confirmar Senha</label>
            <input class="form-control" type="password" placeholder="Confirme a Senha" />
          </div>
        </div>

        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" id="customCheck1">
          <label class="form-check-label" for="customCheck1">
            Eu concordo com os <a href="#">Termos de Uso</a>.
          </label>
        </div>

        <div class="d-grid">
          <button class="btn btn-lg btn-success w-100">
            Registrar
          </button>
        </div>

        <div class="text-center mt-3">
          <a class="btn btn-link" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>

      </form>
    </div>
  </div>

</div>
