<div class="row mt-5 justify-content-center">

  <!-- Imagem - Exibida apenas em telas grandes -->
  <div class="col-md-6 d-none d-lg-block" style="height: 450px;">
    <div class="text-center">
      <h1>Cadastro de Usuário</h1>
      <img src="/registerImage.png" class="my-4" alt="Imagem Cadastro" width="500px">
    </div>
  </div>

  <!-- Formulário -->
  <div class="col-12 col-md-8 col-lg-6">
    <div class="card rounded shadow-sm">
      <form [formGroup]="form" class="p-3">

        <!-- Título do Form - Apenas em telas pequenas -->
        <div class="pb-2 d-block d-lg-none text-center">
          <h3 class="border-bottom">Cadastro de Usuário</h3>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Primeiro Nome</label>
            <input type="text"class="form-control"
              [ngClass]="{'is-invalid': form.get('primeiroNome')?.errors && form.get('primeiroNome')?.touched}"
              formControlName="primeiroNome" placeholder="Insira o Primeiro nome">
              <div *ngIf="form.get('primeiroNome')?.hasError('required')" class="invalid-feedback">Primeiro Nome obrigatório</div>
              <div *ngIf="form.get('primeiroNome')?.hasError('minlength')" class="invalid-feedback">Mínimo de 4 caracteres</div>
              <div *ngIf="form.get('primeiroNome')?.hasError('maxlength')" class="invalid-feedback">Máximo de 50 caracteres</div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Último Nome</label>
            <input type="text" class="form-control"
              [ngClass]="{'is-invalid': form.get('ultimoNome')?.errors && form.get('ultimoNome')?.touched}"
              formControlName="ultimoNome" placeholder="Insira o Último nome">
              <div *ngIf="form.get('ultimoNome')?.hasError('required')" class="invalid-feedback">Sobrenome obrigatório</div>
              <div *ngIf="form.get('ultimoNome')?.hasError('minlength')" class="invalid-feedback">Mínimo de 4 caracteres</div>
              <div *ngIf="form.get('ultimoNome')?.hasError('maxlength')" class="invalid-feedback">Máximo de 50 caracteres</div>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input class="form-control" type="email"
            [ngClass]="{'is-invalid': form.get('email')?.errors && form.get('email')?.touched}"
            formControlName="email" placeholder="Insira o Nome Completo">
            <div *ngIf="form.get('email')?.hasError('required')" class="invalid-feedback">E-mail obrigatório</div>
            <div *ngIf="form.get('email')?.hasError('email')" class="invalid-feedback">E-mail inválido</div>
        </div>

        <div class="mb-3">
          <label class="form-label">Usuário</label>
          <input class="form-control" type="text"
            [ngClass]="{'is-invalid': form.get('usuario')?.errors && form.get('usuario')?.touched}"
            formControlName="usuario" placeholder="Insira o nome de Usuário">
            <div *ngIf="form.get('usuario')?.hasError('required')" class="invalid-feedback">Nome de Usuário obrigatório</div>
            <div *ngIf="form.get('usuario')?.hasError('minlength')" class="invalid-feedback">Mínimo de 4 caracteres</div>
            <div *ngIf="form.get('usuario')?.hasError('maxlength')" class="invalid-feedback">Máximo de 50 caracteres</div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Senha</label>
            <input class="form-control" type="password"
              [ngClass]="{'is-invalid': form.get('senha')?.errors && form.get('senha')?.touched}"
              formControlName="senha" placeholder="Digite uma Senha">
              <div *ngIf="form.get('senha')?.hasError('required')" class="invalid-feedback">Senha obrigatória</div>
              <div *ngIf="form.get('senha')?.hasError('minlength')" class="invalid-feedback">Mínimo de 6 caracteres</div>
              <div *ngIf="form.get('senha')?.hasError('maxlength')" class="invalid-feedback">Máximo de 50 caracteres</div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Confirmar Senha</label>
            <input class="form-control" type="password"
              [ngClass]="{'is-invalid': form.get('confirmarSenha')?.errors && form.get('confirmarSenha')?.touched}"
              formControlName="confirmarSenha" placeholder="Confirme a Senha">
              <div *ngIf="form.get('confirmarSenha')?.hasError('required')" class="invalid-feedback">Confirmar senha obrigatório</div>
              <div *ngIf="form.get('confirmarSenha')?.hasError('minlength')" class="invalid-feedback">Mínimo de 6 caracteres</div>
              <div *ngIf="form.get('confirmarSenha')?.hasError('maxlength')" class="invalid-feedback">Máximo de 50 caracteres</div>
              <div *ngIf="form.get('confirmarSenha')?.hasError('mustMatch')" class="invalid-feedback">As senhas não coincidem</div>
          </div>
        </div>

        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" id="customCheck1"
            [ngClass]="{'is-invalid': form.get('termos')?.errors && form.get('termos')?.touched}"
            formControlName="termos">
          <label class="form-check-label" for="customCheck1">
            Eu concordo com os <a href="#">Termos de Uso</a>.
          </label>
        </div>

        <div class="d-grid">
          <button class="btn btn-lg btn-success w-100" [disabled]="form.invalid">
            Registrar
          </button>
        </div>

        <div class="text-center mt-3">
          <a class="btn btn-link" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>

      </form>
    </div>
  </div>

</div>
